

<app-carousel></app-carousel>
<div class="container">
  <div class="row">
    <button class="col-3 btn-primary">Économie</button>

    <div class="offset-6"></div>

    <button id="btn1" class="col-3 btn-primary" (click)="seeMore($event)">Voir plus &raquo;</button>
  </div>
  <div class="row">
    <div class="card-body">
        <app-articles [categorie]='categorie'></app-articles>
    </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <button class="col-3 btn-primary">Sports</button>

    <div class="offset-6"></div>

    <button id="btn2" class="col-3 btn-primary" (click)="seeMore($event)">Voir plus &raquo;</button>
  </div>
  <div class="row">
    <div class="card-body">
        <app-articles [categorie]='categorie2'></app-articles>
    </div>
    </div>
</div>
