.container {
  position: relative;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
}
